/*Colors*/

$light-blue: #8BACFF;
$gray: #BDC1C8;
$blue-gray: #4A5A81;
$p-400-color: #2A2C33;





/*Screen Sizes*/

$dekstop: 1440px;
$laptop: 1000px;
$w900: 900px;
$ipad: 768px;
$w715: 715px;
$w670: 670px;
$w600: 600px;
$w540: 540px;
$mobile: 480px;
$w360: 360px;